{"type":"device","id":0,"name":"DemoDevice-0","lastsentcommand":"off"}
{"type":"device","id":1,"name":"DemoDevice-1","lastsentcommand":"off"}
{"type":"device","id":2,"name":"DemoDevice-2","lastsentcommand":"off"}
{"type":"device","id":3,"name":"DemoDevice-3","lastsentcommand":"off"}
{"type":"device","id":4,"name":"DemoDevice-4","lastsentcommand":"off"}
{"type":"device","id":5,"name":"DemoDevice-5","lastsentcommand":"off"}
{"type":"device","id":6,"name":"DemoDevice-6","lastsentcommand":"off"}
{"type":"device","id":7,"name":"DemoDevice-7","lastsentcommand":"off"}
{"type":"device","id":8,"name":"DemoDevice-8","lastsentcommand":"off"}
{"type":"device","id":9,"name":"DemoDevice-9","lastsentcommand":"off"}